@charset "utf-8";





/***************************PC*****************************/

a{text-decoration: none; color: #39454b;}
p{font-size: 18px;}
.hidden{font-size: 0; color: transparent;}
.clear::after{content: ""; display: block; clear: both;}

.main.style1{
  position: relative;
  display: block;
  height: calc(100vh - 60px);
  overflow: hidden;
}
.main.style1 .video video{
  height: 100%;
}
.main.style1 .video .video_ray::after{
  display: block; content: "";
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute; top: 0; left: 0;
}
.main.style1 .video .content{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.main.style1{padding: 0;}
.main.style1 .content{text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);}
.main.style1 .content::after{display: block; clear: both; content: "";}
.main.style1 h2{float: left; margin-right: 200px; line-height: 130px;}
.main.style1 p{float: left; text-align: left; font-size: 1.4rem;}
.main.style1 p span{font-weight: bold;}
#intro.main.dark .button.style2.down{
  position: absolute;
  bottom: -150px;
  left: 50%;
  transform: translate(-50%, 0);
}
.main .content > :last-child{position: static;}

.main.style2#one .content{
  width: 75%;
  border-radius: 15px 0 0 15px;
}
.main.style2#one .content.box.style2 .info>div{float: left; margin-right: 40px; width: calc((100% - 40px) / 2);}
.main.style2#one .content.box.style2 .info>div:nth-child(2n){margin-right: 0;}
.main.style2#one .content.box.style2 .info{width: calc(200% / 3);}
/* .main.style2#one .content.box.style2>div>div>div:nth-child(3n){margin-right: 0;} */
.main.style2#one .content.box.style2 div.info{float: left;}
.main.style2#one .content .prof_img{float: left; width: calc((100% / 3) - 40px); height: 310px; 
  display: block; border-radius: 150px; background-color: chartreuse;
  background: url(images/profile02.jpg) no-repeat center center / cover;
  margin-right: 40px;
}
.main.style2#one .info > div{transition: all 0.3s;}
.main.style2#one .info > div p{color: #999; transition: all 0.3s;}
.main.style2#one .info > div:hover p{color: #000;}

.main.style2#two .content{
  width: 60%;
  border-radius: 0 15px 15px 0;
}
.main.style2#two .abil > div svg{
  transition: all 0.3s;
}
.main.style2#two .abil > div:hover svg{
  transform: rotate(360deg);
}
.style2 p span{display: block;}
/* .main.style2#two .content.box.style2>div{float: left; margin-right: 100px;} */
.main.style2#two .content.box.style2>div.abil{text-align: left;}
#one .button{left: 20%;}
#two .button{left: 80%;}
#two svg{background-color: #39454b; color: #fff; 
border-radius: 50%; width: 30px; height: 30px; padding: 5px; margin-right: 10px;}
#two h3{height: 30px;}
#two h3 > *{float: left;}
#two h3 span{line-height: 30px;}
.adre_box {padding: 0px 0px 40px 0px;}
.content>div>p{text-align: left;}

.gallery > article{overflow: hidden;}
.gallery > article .image{height: 360px;overflow: hidden;transition: all 0.3s;}
.gallery > article .image::before{transition: all 0.3s;opacity: 1;z-index: 2;}
.gallery > article .image img{transition: all 0.3s; display: none;}
.gallery > article .image{
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
.gallery > article:nth-child(1) .image{background-image: url(images/project01.jpg);}
.gallery > article:nth-child(2) .image{background-image: url(images/project02.jpg);}
.gallery > article:nth-child(3) .image{background-image: url(images/project03.jpg);}
.gallery > article:nth-child(4) .image{background-image: url(images/project04.jpg);}
.gallery.graphic > article:nth-child(1) .image{background-image: url(../../images/thumbs/05_02.png);}
.gallery.graphic > article:nth-child(2) .image{background-image: url(../../images/thumbs/smeg.jpg);
  background-position: top center;
}
.gallery > article:hover .image img{transform: scale(1.1);}
.gallery > article:hover .image::before{opacity: 0;}
.gallery > article{position: relative;margin: 20px;border-radius: 30px;box-shadow: 0px 5px 15px rgb(124 124 124 / 17%);}
.gallery > article p{
  width: 100%;
  padding: 20px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  font-size: 1.7rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 0.5s;
  z-index: 3;
}
.gallery > article p span{display: block;}
.gallery > article p span:nth-child(2){padding-top: 10px;font-size: 0.75em;\: #;}
.gallery > article:hover p{opacity: 0;}
.main .content h3{display: block; text-align: left; margin: 20px 0;}

.poptrox-popup .closer:before{top: 0; right: -50px;}
.poptrox-popup .nav-next:before{right: -100px;}
.poptrox-popup .nav-previous:before{left: -100px;}
.adress{
  float: left;
  text-align: left;
  height: 200px;
  padding: 60px 0;
}
.qrcode{
  float: right;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: url(images/qrcode.png) no-repeat center / contain;
}
.downlord{width: 400px; margin: 50px auto;}
.downlord > div{
  width: 200px;
  padding: 20px;
  float: left;
}
.downlord > div a{
  margin: 0 auto;
  display: block;
  width: 70px;
  height: 70px;
  border: 1px solid #39454b;
  border-radius: 50%;
  padding: 19px;
  transition: all 0.2s;
}
.downlord > div a:hover{
  background-color: rgba(0, 0, 0, 0.125);
}
.downlord > div img{
  width: 30px;
}
footer{font-size: 12px;}













#glayLayer{position: fixed; top: 0; left: 0; display: none;
  width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);}
#overLayer{ display: none;
  width: 80%; height: 80vh; padding: 10px; background-color: #fff; min-height: 100px;
  position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);
  overflow-y: scroll;
}  
#overLayer img{width: 100%;}  
p.close{
  color: transparent; font-size: 0;
  width: 50px; height: 50px;
  background: rgba(0, 0, 0, 0.1) url(images/poptrox-closer.svg) no-repeat center / contain;
  position: fixed; top: 100px; right: 20px;
  border-radius: 50%;
  transition: all 0.3s;
  border: 1px solid #fff;
}
p.close:hover{
  background-color: rgba(0, 0, 0, 0.3);
}
/* 스크롤바 설정*/ 
#overLayer::-webkit-scrollbar{ 
  /* 스크롤바 막대 너비 설정 */ width: 6px; } 
/* 스크롤바 막대 설정*/ 
#overLayer::-webkit-scrollbar-thumb{ 
  height: 17%; background-color: rgba(0,0,0,0.5); /* 스크롤바 둥글게 설정 */ border-radius: 10px; } 
/* 스크롤바 뒷 배경 설정*/ 
#overLayer::-webkit-scrollbar-track{ background-color: rgba(0,0,0,0); }











/**********************Tablet***********************/
@media (max-width:1280px){

  .main.style2#one .content.box.style2 div.info{
    font-size: 14px;
  }

  .gallery.graphic > article .image img.newpro{width: 100%; height: auto;}
  .gallery > article p{
    font-size: 1.4rem;
  }
  .main.style2#one .content.box.style2 div.info{float: none; margin-right: 0; width: 100%;}
  .main.style2#one .content .prof_img{float: none; margin: 0 auto; width: 310px;}

  #footer p{
    font-size: 16px;
  }

}

/*********************Mobile***********************/
@media (max-width:750px){
  .main.style1{
    height: calc(100vh - 40px);
  }
  .main.style1 p{height: 48px;}
  .main.style2#one .content.box.style2 .info>div{float: none; text-align: left; width: 100%; margin-right: 0;}
  .main.style2#one .content.box.style2 div.prof_img{float: none; margin: 0 auto;}
  .main.style2#one .content.box.style2 div.info{float: none;}
  .main.style2#one .content{
    border-radius: 15px;
    width: 100%;
  }
  .main.style2#two .content{
    border-radius: 15px;
    width: 100%;
  }
  #intro.main.dark .button.style2.down{bottom: -50%;}
  .gallery article{width: 100%; margin:20px 0px;}
  .gallery > article .image img{ height: 245px; width: auto;}
  .gallery > article .image::before{opacity: 1;}
  .gallery > article p{opacity: 1;font-size: 1.4rem;top: 50%;}
  .adress{
    float: none;
  }
  .qrcode{
    float: none;
  }
  .main.style2#one .content .prof_img{width: 80%;}
  .downlord{width: 300px; margin: 50px auto;}
  .downlord > div{
    width: 150px;
    padding: 20px;
    float: left;
  }

  p.close{
    width: 20px;
    height: 20px;
    top: 50px;
    right: 10px;
  }

  #footer p{
    font-size: 12px;
  }



}
@media (max-width:480px){
  .gallery article{height:250px;}
  .gallery > article .image{height:100%;}
}





/* 
.gallery > article p{
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  font-size: 1.1rem; font-weight: bold;
  color: #fff;
  position: absolute; 
  top: 40%; left: 50%; transform: translate(-50%, -50%);
  opacity: 0; transition: all 0.5s;
}


@media (min-width:780px){}


@media (min-width:1280px){
  .gallery > article p{
    font-size: 1.8rem;top: 50%;
  }


} */


